# Homework week6
## Author: Phuong Thanh Nguyen

In [22]:
# Import packages and paths
from ppi.database import Database
import os
import pandas as pd
from sqlalchemy import create_engine
HOME = os.path.expanduser("~")
PROJECT_FOLDER = os.path.join(HOME, ".ppi")
DB_PATH = os.path.join(PROJECT_FOLDER, "ppi.sqlite")
conn = create_engine(f"sqlite:///{DB_PATH}")

### 1. Read data

In [7]:
# Initiate Database() class 
db = Database()
db.set_path_to_data_file("../tests/data/test_ppi.tsv")
df = db.read_data()
df

,confidence_value,detection_method,a_uniprot_id,b_uniprot_id,interaction_type,pmid,a_name,a_taxid,b_name,b_taxid
0,0.1,dm1,node_id1,node_id2,it1,pmid1,name_1,1,name_2,1
1,0.2,dm2,node_id2,node_id3,it2,pmid1,name_2,1,name_3,1
2,0.3,dm3,node_id2,node_id4,it2,pmid1,name_2,1,name_4,1
3,0.4,dm1,node_id2,node_id5,it2,pmid1,name_2,1,name_5,1
4,0.5,dm4,node_id5,node_id6,it2,pmid1,name_5,1,name_6,2
5,0.6,dm1,node_id2,node_id6,it3,pmid1,name_2,1,name_6,2
6,0.7,dm5,node_id6,node_id7,it3,pmid1,name_6,2,name_7,1
7,0.8,dm2,node_id2,node_id3,it3,pmid1,name_2,1,name_3,1

### 2. Load protein DataFrame

In [8]:
protein = db.get_proteins()
protein

   accession    name  taxid
id
1   node_id1  name_1      1
2   node_id2  name_2      1
3   node_id3  name_3      1
4   node_id4  name_4      1
5   node_id5  name_5      1
6   node_id6  name_6      2
7   node_id7  name_7      1

### 3. Load interaction DataFrame

In [9]:
interaction = db.get_interactions()
interaction

,confidence_value,detection_method,interaction_type,pmid,protein_a_id,protein_b_id
id,,,,,,
1,0.1,dm1,it1,pmid1,1,2
2,0.2,dm2,it2,pmid1,2,3
3,0.3,dm3,it2,pmid1,2,4
4,0.4,dm1,it2,pmid1,2,5
5,0.5,dm4,it2,pmid1,5,6
6,0.6,dm1,it3,pmid1,2,6
7,0.7,dm5,it3,pmid1,6,7
8,0.8,dm2,it3,pmid1,2,3

### 4. Check table name in Database()

In [10]:
tables = db.get_table_names()
tables

['protein', 'interaction']

### 5. Column names of protein table in SQL database

In [12]:
protein_col = db.get_columns(table = "protein")
protein_col

['accession', 'name', 'taxid', 'id']

### 6. Column names of interaction table in SQL database

In [14]:
interaction_col = db.get_columns(table = "interaction")
interaction_col

['confidence_value',
 'detection_method',
 'interaction_type',
 'pmid',
 'protein_a_id',
 'protein_b_id',
 'id']

### 7. Check created path of database folder and file

In [17]:
os.path.isdir(PROJECT_FOLDER)

True

In [19]:
os.listdir(PROJECT_FOLDER)

['ppi.sqlite']

### 8. Load tables from SQL database

In [30]:
protein_sql = pd.read_sql_table("protein",conn)
type(protein_sql.columns.tolist())

list

In [26]:
interaction_sql = pd.read_sql_table("interaction",conn)
interaction_sql

,id,confidence_value,detection_method,interaction_type,pmid,protein_a_id,protein_b_id
0,1,0.1,dm1,it1,pmid1,1,2
1,2,0.2,dm2,it2,pmid1,2,3
2,3,0.3,dm3,it2,pmid1,2,4
3,4,0.4,dm1,it2,pmid1,2,5
4,5,0.5,dm4,it2,pmid1,5,6
5,6,0.6,dm1,it3,pmid1,2,6
6,7,0.7,dm5,it3,pmid1,6,7
7,8,0.8,dm2,it3,pmid1,2,3